@model ProductModel;

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.ProductId != 0 ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>
   
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="ProductId" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="ProductName" class="form-control border-0 shadow" />
                            <label asp-for="ProductName" class="ms-2"></label>
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="ProductDescription" class="ms-2 text-muted"></label>
                            <textarea asp-for="ProductDescription" class="form-control border-0 shadow"></textarea>
                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                        </div>

                       
                       
                        <div class="form-floating py-2 col-12">
                            <input asp-for="ProductPrice" class="form-control border-0 shadow" />
                            <label asp-for="ProductPrice" class="ms-2"></label>
                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.CategoryID" asp-items="@ViewBag.categoriesList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label asp-for="CategoryID" class="ms-2"></label>
                            <span asp-validation-for="CategoryID" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" multiple />
                            <label asp-for="ImageUrl" class="ms-2"></label>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.ProductId != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="ProductList" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-2">
                    @if (Model.ImageUrl != null)
                    {
                        <div class="border p-1 m-2 text-center">
                            <img src="@Model.ImageUrl" width="100%"
                                 style="border-radius:5px; border:1px solid #bbb9b9" />
                        </div>
                    }
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}